<html>

<head>
    <title>Job List</title>
    <link rel="stylesheet" href="https://cdn1.papercut.com/web/digital/papercut-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="papercut">
    <main class="page-main">
        <div class="container-fluid" data-component="JobList">
            <table id="jobTable" class="table table-striped table-bordered table-hover">
                <thead style="text-align: center;">
                    <tr>
                        <th>Job ID</th>
                        <th>Username</th>
                        <th>Document Name</th>
                        <th>Printer</th>
                        <th>Job Time <button onclick="triggerSortTable()">sort</button></th>
                        <th>Line Number</th>
                        <th>Language</th>
                        <th>Pages</th>
                        <th>Copies</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $key, $value := .JMap}}
                    <tr>
                        <td width=5%>{{ $value.IDNumber }}</td>
                        <td width=10%>{{ $value.Username }}</td>
                        <td style="width: auto;">{{ $value.DocumentName }}</td>
                        <td>{{ $value.Printer}}</td>
                        <td class="startTimeString" width=12%>{{ $value.StartTimeString }}</td>
                        <td width=8%>{{ $value.LineNumber }}</td>
                        <td width=5%>{{ $value.Language }}</td>
                        <td width=5%>{{ $value.PageCount }}</td>
                        <td width=5%>{{ $value.CopyCount }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <style>
                .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    height: 10%;
                    width: 100%;
                    background-color: white;
                    text-align: center;
                }
            </style>
            <div class="footer">
                <div id="slider-range"></div>
                <!-- display what time range is selected -->
                <span>Showing jobs from : {{ .First }} to {{ .Last }}</span>
                <span id="start" hidden>{{ .First }}</span>
                <span id="end" hidden>{{ .Last }}</span>
                <span id="sortPattern" hidden></span>
            </div>
        </div>
    </main>
    <script src="https://cdn1.papercut.com/web/digital/papercut-vui.js"></script>

    <script>
        function addRowHandlers() {
            var url = "http://localhost:8080/logs"
            var rows = document.getElementById("jobTable").rows;
            for (i = 0; i < rows.length; i++) {
                rows[i].onclick = function() {
                    return function() {
                        var id = this.cells[0].innerHTML;
                        url1 = url + "?JobID=" + id;
                        //var Http = new XMLHttpRequest();
                        //Http.open("GET", url1, true);
                        //Http.send();
                        window.open(url1);
                    };
                }(rows[i]);
            }
        }
        window.onload = addRowHandlers();
    </script>

    <!-- The snippet below is to load a jquery range slider -->
    <script>
        function updateTableRows(startVal, endVal) {
            // get start and end dates from hidden fields
            var startDate = new Date($("#start").html());
            var endDate = new Date($("#end").html());

            // calculate the second difference between the 2 dates
            var secondsBetweenDates = Math.abs((endDate.getTime() - startDate.getTime()) / 1000);

            // set the dates according to the slider values
            startDate.setSeconds(startDate.getSeconds() + secondsBetweenDates * (startVal / 100));
            endDate.setSeconds(endDate.getSeconds() - secondsBetweenDates * ((100 - endVal) / 100));

            // hide and show corresponding rows by matching the dates
            $(".startTimeString").each(function() {
                var currentDateString = $(this).html().replace(" ", "T") + "Z";
                var currentDate = new Date(currentDateString);
                if (currentDate >= startDate && currentDate <= endDate) {
                    $(this).parent().show();
                } else {
                    $(this).parent().hide();
                }
            });
        }

        function triggerSortTable() {
            // what order would you like to sort?
            if ($("#sortPattern").html() == "") {
                // sort asec now
                sortTable(function(time1, time2) {
                    return time1 > time2;
                });
                // and change it to desc
                $("#sortPattern").html("desc");
            } else if ($("#sortPattern").html() == "asec") {
                // sort desc now
                sortTable(function(time1, time2) {
                    return time1 < time2;
                });
                $("#sortPattern").html("desc");
            } else if ($("#sortPattern").html() == "desc") {
                // sort asec now
                sortTable(function(time1, time2) {
                    return time1 > time2;
                });
                $("#sortPattern").html("asec");
            }
        }

        function sortTable(condition) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("jobTable");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    //check if the two rows should switch place:
                    if (condition(x.innerHTML.toLowerCase(), y.innerHTML.toLowerCase())) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        // from jQuery example, do not move
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100,
                values: [0, 100],
                slide: function(event, ui) {
                    updateTableRows(ui.values[0], ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
</body>

</html>