<html>
<head>
       <title>Logs for Job {{.Job.IDNumber}}</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>  
    <div data-component="JobDetails">
        <div class="sticky-top container-fluid" style="background: #fff; width: 100%;">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Job details
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Document name</th>
                            <th>Printer</th>
                            <th>Pages</th>
                            <th>Copies</th>
                            <th>Color Pages</th>
                            <th>Language</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{.Job.Username}}</td>
                            <td>{{.Job.DocumentName}}</td>
                            <td>{{.Job.Printer}}</td>
                            <td>{{.Job.PageCount}}</td>
                            <td>{{.Job.CopyCount}}</td>
                            <td>{{.Job.ColorPages}}</td>
                            <td>{{.Job.Language}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {{if .HasRedirect}}
                        <h4>Redirected</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Printer</th>
                                <th>Line Number</th>
                                {{ if .Job.ReleaseType}}
                                    <th>Released By</th>
                                {{else if (ne .Job.ReleaseType .HasRedirect)}}
                                    <th>Release At</th>
                                {{ end}}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{.ReJob.IDNumber}}</td>
                                <td>{{.ReJob.Printer}}</td>
                                <td>{{.ReJob.LineNumber}}</td>
                                {{if .Job.ReleaseType}}
                                    <td>{{.Job.ReleaseInfo}}</td>
                                {{else if (ne .Job.ReleaseType .HasRedirect)}}
                                    <td>{{.Job.ReleaseInfo}}</td>
                                {{end}}
                            </tr>
                            </tbody>
                        </table>
                    {{end}}
                </div>
            </div>
    </div>
        
    <table width=100% style="overflow: auto;  white-space: nowrap;" class="table-hover" data-component="LogList">
        <thead class="table">
            <tr  style="border-bottom: 1px solid #000;">
            <th style="padding: 5px" width=205px>Time</th>
            <th style="padding: 5px" width=50px>Line</th>
            <th style="padding: 5px">Text</th>
           </tr>
        </thead>        
    </table>

    </div>  
    
    
    <div class="container-fluid"> 
     <table id="logtable" style="overflow: auto;  white-space: nowrap;" class="table-hover">
                  <tbody style="font-family: monospace; font-size: 15px;">
             {{ range $key, $value := .LogLines }}
             <tr style="border-bottom: 1px solid #F3F3F3;">
                <td  class="jobtime" width=5% style="padding: 5px; border-right: 1px solid #F3F3F3;">{{ $value.LineTime }}</td>
                <td style="padding: 5px; text-align: center; border-right: 1px solid #F3F3F3;" width=5%>{{ $value.LineNumber }}</td>
                <td style="padding: 5px">{{ $value.LineString }}</td>
             </tr>
             {{ end }}
         </tbody>
     </table>
    </div>
    <script>
        var logtable = document.getElementById("logtable");
        for (var i = 0, row; row = logtable.rows[i]; i++) {
        row.cells[0].innerHTML =  row.cells[0].innerHTML.substring(0, row.cells[0].innerHTML.length -10);
        }
    </script>
</body>
</html>