<html>
<head>
       <title>Upload file</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>  
    <div class="container"> 
        
            <h2>Upload Application Server Log File</h2> 
<form enctype="multipart/form-data" action="http://127.0.0.1:8080/upload" method="post">
    <input type="file" name="upload log file" />
    <input type="hidden" name="token" value="{{.}}"/>
    <input type="submit" value="upload" />
</form>
</div>
</body>
</html>